*/target/**
/target/
*/.project
*/.settings/
*/.classpath
.project
.settings/
.idea/*
*.iml



git-hub-user-service-ui/node_modules
git-hub-user-service-ui/.pnp
git-hub-user-service-ui/.pnp.js


git-hub-user-service-ui/coverage


git-hub-user-service-ui/build


git-hub-user-service-ui/.DS_Store
git-hub-user-service-ui/.env.local
git-hub-user-service-ui/.env.development.local
git-hub-user-service-ui/.env.test.local
git-hub-user-service-ui/.env.production.local

git-hub-user-service-ui/npm-debug.log*
git-hub-user-service-ui/yarn-debug.log*
git-hub-user-service-ui/yarn-error.log*